<h2>{{enunciado}}</h2>
<h2 class="valores" style="margin-left: 40px;">{{condicion}}</h2>

<form #problemForm="ngForm">
  <div class="valores" style="margin-left: 40px;">
    <div>
      <mat-form-field class="form-group">
        <mat-label>Valor de X:</mat-label>
        <input matInput type="number" id="x" name="x" min="0" [(ngModel)]="formData.x" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="form-group">
        <mat-label>Valor de Y:</mat-label>
        <input matInput type="number" id="y" name="y" min="0" [(ngModel)]="formData.y" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="form-group">
        <mat-label>Valor de N:</mat-label>
        <input matInput type="number" id="n" name="n" min="0" [(ngModel)]="formData.n" required>
      </mat-form-field>
    </div>
  </div>
  <div class="valores">
    <button mat-raised-button color="primary" (click)="numeroMayorPost()" style="margin-right: 5px;">Obtener resultado con Post</button>
    <button mat-raised-button color="accent" (click)="numeroMayorGet()" style="margin-right: 5px;">Obtener resultado con Get</button>
    <button mat-raised-button color="warn" (click)="reiniciarValores()">Reiniciar los valores</button>
  </div>
</form>

<div class="solucion">
  <h1 *ngIf="solution !== null">Solución (k) = {{ solution }}</h1>
</div>