<main class="main">
  <div class="content">
    <div class="left-side">
      <div class="angular-logo">
        <img src="../../assets/images/santillana-logo.jpeg" style="width: 350px;">
        <img src="../../assets/images/alten-logo.png" style="width: 100px; height: 170px;">
      </div>
      <h1>Problema1374a</h1>
      <div *ngIf="activarCalculo === true && activarLogin === false" class="home" (click)="cerrarSesion()">
        <button mat-fab color="warn">
          <mat-icon>home</mat-icon>
        </button>
      </div>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <div *ngIf="activarLogin === true && activarCalculo === false">
        <app-login (activarCalculo)="activarCalculoFuncion($event)"></app-login>
      </div>
      <div *ngIf="activarCalculo === true && activarLogin === false">
        <app-numero-mayor [usuario]="usuario"></app-numero-mayor>
      </div>
    </div>
  </div>
</main>