<div class="">
    <div>
        <h2>Inicio de Sesión</h2>
    </div>
    <div>
        <form (ngSubmit)="login()" #loginForm="ngForm">
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Nombre de usuario</mat-label>
                    <input matInput type="text" [(ngModel)]="username" name="username" required />
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Contraseña</mat-label>
                    <input matInput type="password" [(ngModel)]="password" name="password" required />
                </mat-form-field>
            </div>
            <div>
                <div *ngIf="error === true">
                    <h3>
                        <mat-label style="color: red;">Usuario o contraseña incorrectos</mat-label>
                    </h3>
                </div>
            </div>
            <div>
                <button mat-raised-button color="primary" type="submit">Iniciar sesión</button>
            </div>
        </form>
    </div>
</div>